.left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0cfae;
}

.left h1 {
  font-size: 5rem;
  margin-left: 2rem;
  color: #F2654B;
  margin: 0 auto;
}

.right {
  width: 50%;
  background: url(../../images/pizza.webp) center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1205px) {
  .left h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 956px) {
  .left h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 673px) {
  .left h1 {
    font-size: 4rem;
  }
  .head1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 8rem;
    height: 100%;
  }
  .left {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f0cfae;
  }
  .left h1 {
    margin-left: 1rem;
    color: #F2654B;
    margin: 0 auto;
  }
  .right {
    background: url(../../images/pizza.webp) bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .left h1 {
    margin-left: 1rem;
    color: #F2654B;
    margin: 0 auto;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 426px) {
  .left h1 {
    margin-left: 1rem;
    color: #F2654B;
    margin: 0 auto;
    font-size: 3rem;
  }
}

.head2 {
  background-color: #f9f1e3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rounder-3 {
  width: 80%;
  border-bottom: 0.1rem solid #f2bf8c;
}

.head2 ul {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.myButton {
  background-color: #f0cfae;
  border-radius: 0.8rem;
  display: inline-block;
  cursor: pointer;
  color: #f2654b;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 7.2rem;
  text-decoration: none;
  text-align: center;
}

.myButton:hover {
  background-color: #f2bf8c;
}

.myButton2:hover {
  background-color: #f2bf8c;
}

.myButton3:hover {
  background-color: #f2bf8c;
}

.myButton2 {
  background-color: #f0cfae;
  border-radius: 0.8rem;
  display: inline-block;
  cursor: pointer;
  color: #f2654b;
  font-size: 2rem;
  font-weight: bold;
  padding: 2.6rem 7.2rem;
  text-decoration: none;
}

.myButton3 {
  background-color: #f0cfae;
  border-radius: 0.8rem;
  display: inline-block;
  cursor: pointer;
  color: #f2654b;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 7.2rem;
  text-decoration: none;
}

.myButton:hover {
  background-color: #f2bf8c;
}

@media only screen and (max-width: 1221px) {
  .rounder-3 {
    width: 100%;
    border-bottom: 0.1rem solid #f2bf8c;
  }
}

@media only screen and (max-width: 994px) {
  .head2 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .myButton, .myButton2 {
    margin-bottom: 33px;
  }
}

@media only screen and (max-width: 673px) {
  .head2 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myButton, .myButton2, .myButton3 {
    width: 100% !important;
    text-align: center !important;
  }
  .rounder-3 ul {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .head2 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myButton, .myButton2, .myButton3 {
    width: 100% !important;
    text-align: center !important;
  }
  .rounder-3 ul {
    width: 80%;
  }
}

@media only screen and (max-width: 427px) {
  .head2 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myButton, .myButton2, .myButton3 {
    width: 100% !important;
    text-align: center !important;
  }
  .rounder-3 ul {
    width: 80%;
  }
  .myButton {
    background-color: #f0cfae;
    border-radius: 0.8rem;
    display: inline-block;
    cursor: pointer;
    color: #f2654b;
    font-size: 2rem !important;
    font-weight: bold;
    padding: 1.2rem 3.2rem !important;
    text-decoration: none;
    text-align: center;
  }
  .myButton2 {
    background-color: #f0cfae;
    border-radius: 0.8rem;
    display: inline-block;
    cursor: pointer;
    color: #f2654b;
    font-size: 2rem;
    font-weight: bold;
    padding: 2.6rem 3.2rem;
    text-decoration: none;
  }
  .myButton3 {
    background-color: #f0cfae;
    border-radius: 0.8rem;
    display: inline-block;
    cursor: pointer;
    color: #f2654b;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.2rem 3.2rem;
    text-decoration: none;
  }
}

.head3 {
  width: 58%;
  margin: 0 auto;
  padding-top: 4rem;
}

.head3-1 {
  padding-bottom: 10rem;
}

.head3-1 h1 {
  color: #f2654a;
  font-size: 5rem;
  font-weight: bold;
}

.head3-1 h2 {
  color: #6e2a36;
  font-size: 2rem;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  gap: 2rem;
}

.icons > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.icons li img {
  margin-bottom: 3rem;
}

.icons li h3 {
  color: #6e2a36;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.icons li p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 1146px) {
  .head3 {
    width: 80%;
  }
}

@media only screen and (max-width: 715px) {
  .head3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
  }
  .head3-1 {
    padding-bottom: 7rem;
  }
  .head3-1 h1 {
    color: #f2654a;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }
  .head3-1 h2 {
    color: #6e2a36;
    font-size: 2rem;
    text-align: center;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    gap: 2rem;
  }
  .icons > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .icons li img {
    margin-bottom: 3rem;
  }
  .icons li h3 {
    color: #6e2a36;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .icons li p {
    font-size: 1.6rem;
    text-align: center;
  }
}

@media only screen and (max-width: 401px) {
  .head3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
  }
  .head3-1 {
    padding-bottom: 7rem;
  }
  .head3-1 h1 {
    color: #f2654a;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
  }
  .head3-1 h2 {
    color: #6e2a36;
    font-size: 1.5rem;
    text-align: left;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    gap: 2rem;
  }
  .icons > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .icons li img {
    margin-bottom: 3rem;
  }
  .icons li h3 {
    color: #6e2a36;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .icons li p {
    font-size: 1.6rem;
    text-align: center;
  }
}

.head4 {
  margin-top: 15rem;
  margin-bottom: 7.5rem;
  position: relative;
}

.rounder {
  max-width: 112rem;
  height: 77.6rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: white;
}

.rounder .left2 {
  width: 50%;
  background: url(../../images/head4.webp) center no-repeat;
  background-size: cover;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: .8rem 0 0 .8rem;
}

.rounder .right2 {
  background-color: #F2634D;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0 .8rem .8rem 0;
  padding: 15rem 3rem;
}

.rounder .right2 h1 {
  font-size: 3rem;
  font-size: 4rem;
}

.rounder .right2 .h1 {
  color: #6E2A36;
}

.rounder .right2 p {
  padding-top: 3rem;
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.rounder .right2 .butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.rounder .right2 a {
  color: white;
  background-color: #6E2A36;
  border-radius: .8rem;
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 7.2rem;
  text-decoration: none;
  margin-bottom: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.rounder .right2 .online-bu {
  width: 66%;
  padding-left: 6.6rem;
}

.box4 {
  z-index: -11;
  position: absolute;
  bottom: -76px;
  width: 100%;
  height: 20rem;
  background-color: #F6E9D7;
}

@media only screen and (max-width: 1205px) {
  .rounder {
    max-width: 90rem;
  }
  .right2 {
    border-radius: 0 .8rem .8rem 0;
    padding: 15rem 3rem;
  }
  .right2 h1 {
    font-size: 3.2rem !important;
  }
  .right2 p {
    padding-top: 3rem;
    font-size: 1.6rem !important;
    margin-bottom: 6rem;
  }
  .right2 a {
    border-radius: .8rem;
    font-size: 2rem !important;
    padding: 1rem 5.4rem !important;
    margin-bottom: 1rem;
  }
  .right2 .online-bu {
    width: 75% !important;
    padding-left: 6.6rem;
  }
}

@media only screen and (max-width: 805px) {
  .rounder {
    max-width: 50rem;
    height: 100rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .rounder .left2 {
    width: 100%;
    background: url(../../images/head4.webp) center no-repeat;
    background-size: cover;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-radius: .8rem .8rem 0 0;
    height: 50%;
  }
  .rounder .right2 {
    width: 100%;
    background-color: #F2634D;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-radius: 0  0 .8rem .8rem;
    height: 30%;
    padding: 2rem 3rem;
  }
  .rounder .right2 h1 {
    font-size: 3rem;
    font-size: 4rem;
  }
  .rounder .right2 .h1 {
    color: #6E2A36;
  }
  .rounder .right2 p {
    padding-top: 3rem;
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  .rounder .right2 .butt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .rounder .right2 a {
    color: white;
    background-color: #6E2A36;
    border-radius: .8rem;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.2rem 7.2rem;
    text-decoration: none;
    margin-bottom: 1rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .rounder .right2 .online-bu {
    width: 70% !important;
    padding-left: 6.6rem;
  }
}

@media only screen and (max-width: 431px) {
  .head4 {
    margin-top: 10rem;
    margin-bottom: 7.5rem;
    position: relative;
  }
  .rounder {
    max-width: 34rem;
    height: 60rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .rounder .left2 {
    width: 100%;
    background: url(../../images/head4.webp) center no-repeat;
    background-size: cover;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-radius: .8rem .8rem 0 0;
    height: 50%;
  }
  .rounder .right2 {
    width: 100%;
    background-color: #F2634D;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-radius: 0  0 .8rem .8rem;
    height: 30%;
    padding: 2rem 3rem;
  }
  .rounder .right2 h1 {
    font-size: 2rem !important;
  }
  .rounder .right2 .h1 {
    color: #6E2A36;
  }
  .rounder .right2 p {
    padding-top: 1rem;
    font-size: 1.8rem;
    margin-bottom: 6rem;
    display: none;
  }
  .rounder .right2 .butt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-top: 1.5rem !important;
  }
  .rounder .right2 a {
    color: white;
    background-color: #6E2A36;
    border-radius: .8rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.6rem !important;
    font-weight: bold;
    padding: 1.2rem 2.2rem !important;
    text-decoration: none;
    margin-bottom: 1rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .rounder .right2 .online-bu {
    width: 73% !important;
    padding-left: 6.6rem;
  }
}

footer {
  width: 100%;
  height: 33vh;
  background-color: #F3D8BB;
}

.fo {
  width: 60%;
  margin: 0 auto;
}

.fo .fo-logo img {
  width: 250px;
}

.fo .addrese {
  margin-bottom: 1rem;
}

.fo .addrese h1 {
  font-size: 3rem;
  color: #a0293f;
}

.fo .telf {
  text-decoration: none;
  color: #87613b;
  font-size: 2rem;
  padding-top: 2rem;
  background-color: #6E2A36;
  border-radius: 0.8rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  text-decoration: none;
}

.fo h2 {
  margin-top: 2.5rem;
}

@media only screen and (max-width: 705px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .fo {
    width: 90%;
    margin: 0 auto;
  }
  .fo .fo-logo img {
    width: 250px;
  }
  .fo .addrese {
    margin-bottom: 1rem;
  }
  .fo .addrese h1 {
    font-size: 2rem;
    color: #a0293f;
  }
  .fo h2 a {
    text-decoration: none;
    color: black;
  }
}

nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #f9f1e3;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 15rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.nav-links a {
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  color: #6e2a36;
}

.nav-links li {
  list-style-type: none;
}

.head1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.sticky {
  background-color: #f9f1e3ec;
}

@media only screen and (max-width: 447px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    background-color: #f9f1e3;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .logo {
    width: 15rem;
    margin-left: 1rem;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 15px;
    margin-right: 3rem;
  }
  .nav-links a {
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;
    color: #6e2a36;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f9f1e2;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.head5 {
  width: 100%;
  margin: 15rem 0 8rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gmap_canvas {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1120px) {
  iframe {
    width: 700px !important;
  }
}

@media only screen and (max-width: 1120px) {
  .mapouter {
    width: 700px !important;
  }
  .gmap_canvas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 700px !important;
  }
  iframe {
    width: 700px !important;
  }
}

@media only screen and (max-width: 723px) {
  .mapouter {
    width: 500px !important;
  }
  .gmap_canvas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 500px !important;
  }
  iframe {
    width: 500px !important;
  }
}

@media only screen and (max-width: 526px) {
  .mapouter {
    width: 400px !important;
    height: 400px !important;
  }
  .gmap_canvas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px !important;
    height: 400px !important;
  }
  iframe {
    width: 400px !important;
    height: 400px !important;
  }
  .head5 {
    width: 100%;
    margin: 10rem 0 3rem !important;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 413px) {
  .mapouter {
    width: 330px !important;
    height: 300px !important;
  }
  .gmap_canvas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 330px !important;
    height: 300px !important;
  }
  iframe {
    width: 330px !important;
    height: 300px !important;
  }
  .head5 {
    width: 100%;
    margin: 10rem 0 3rem !important;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */